@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  font-size: 14px;
  min-width: 320px;
}

body {
  background-color: #232323;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.item-enter {
  opacity: 0;
}

.item-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.item-exit {
  opacity: 1;
  transform: scale(1);
  will-change: transform;
}

.item-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: transform 600ms ease-in, opacity 200ms ease-in;
}